.name-header-course {
    font-size: 24px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    color: #03615D;
}
.item-course-layout {
    min-width: 300px;
    min-height: 300px;
    padding: 20px;
    
}
.name-header-course-1 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    padding-bottom: 5px;
    color: #03615D;
}
.name-header-course-2{
    font-size: 14px;
    padding-bottom: 10px;
    span{
        font-weight: 600;
        font-size: 16px;
        text-transform: capitalize;
        color: #03615D;
    }
}

.name-header-course-4{
    font-size: 16px;
    padding-bottom: 5px;
    span{
        font-weight: 600;
        color: #03615D;
        text-transform: capitalize;
    }
}

.CommentIcon{
    margin-bottom: -7px;
}

.GetAppIcon{
    margin-bottom: -5px;
    margin-left: 10px;
}