.name-header-course {
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    color: #03615D;
}
.item-course-layout {
    min-width: 270px;
    width: 100%;
    padding: 20px;
    
}
.item-course-layout-course{
    width: 100%;
    height: auto;
}
.name-header-course-1 {
    width: 100%;
    text-align: left;
    font-weight: 500;
    padding-bottom: 5px;
    color: #03615D;
    font-size: 18px;
}
// .name-header-course-2{
//     font-size: 14px;
//     padding-bottom: 10px;
//     // padding-left: 15px;
//     // padding-right: 15px;
//     .span{
//         font-weight: 600;
//         font-size: 18px;
//         text-transform: capitalize;
//         color: #03615D;
//         // padding-left: 10px;
//     }
//     .span2{
//         width: auto;
//         margin-top: 5px;
//         padding-left: 20px;font-size: 14px;
//         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//         word-wrap: break-word;
//         word-break: break-all;
//         font-size: 14px;
//     }
   
// }
.name-header-course-2{
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    padding-bottom:-5px;
    margin-bottom: 30px;
    span{
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        color: #03615D;
        padding-bottom: 10px;
    }
    div{
        margin-left: 25px;
        margin-right: 25px;
    }
}
.name-header-course-4{
    font-size: 14px;
    padding-bottom: 5px;
    span{
        font-weight: 400;
        color: #03615D;
        text-transform: capitalize;
    }
}

.CommentIcon{
    margin-bottom: -7px;
}

.GetAppIcon{
    margin-bottom: -5px;
    margin-left: 20px;
}