
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Itim&display=swap');
.header-basic {
	background-color: #5383d3;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	// padding: 20px 20px;
	height: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-basic .header-limiter {
	width: 90%;
	height: auto;
	// max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
	float: left;
	// font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 28px;
	font-family: Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-basic .header-limiter h1 span {
	color: white;
}

/* The header links */

.header-basic .header-limiter a {
	color: white;
	text-decoration: none;
}

.header-basic .header-limiter nav {
	// font: 16px Arial, Helvetica, sans-serif;
	// font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	line-height: 40px;
	float: right;
	font-weight: 500;
	.about{
		// margin-left: 18px;
		// border: 1px solid white;
		margin-right: 0px;
		font-weight: 500;
		// border-radius: 5px;
	}
	
	.aaa{
		text-transform: uppercase;
		font-weight: 400;
		font-size: 12px;
	}
	.is-active{
		// color:#03615D;
		color: white;
	}
}

.header-basic .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
	color: #F0F0F0;
	font-size: 14px;
	// opacity: 0.9;
	cursor: pointer;
	// font-family: "Courier New", Courier, monospace;
	// letter-spacing: 0.005px;
}

.header-basic .header-limiter nav a:hover {
	opacity: 1;
	cursor: pointer;
}

.header-basic .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Making the header responsive */

@media all and (max-width: 600px) {
	.header-basic {
		padding: 20px 0;
		height: 85px;
	}

	.header-basic .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic .header-limiter nav {
		line-height: 1;
		float: none;
	}

	.header-basic .header-limiter nav a {
		font-size: 13px;
	}
}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin: 0;
	padding: 0;
}

.footer {
	clear: both;
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	// border-top: 1px solid #bcbdbf;
	background-color: #5383d3;
	.text-center {
		// background-color: white;
	}
	
	.text-dark {
		text-decoration: none;
		font-weight: normal;
		font-size: 16px;
		font-family: Cookie, Arial, Helvetica, sans-serif;
		color: white;
	}
}

.ExitToAppIcon{
	position: absolute;
	margin-top: 8px;
}

$res_600: "only screen and (max-width: 600px)";

@mixin responsive_600() {
    @media #{$res_600} {
        @content;
    }
}
@include responsive_600() {
	.ExitToAppIcon{
		position: absolute;
		margin-top: -5px;
	}
}