
.name-result-kq{
    width: 100%;
    height: auto;
    color: #3498DB;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.name-result-kq-p{
    width: 100%;
    height: auto;
    color: #818181;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
.container-result{
    width: 96%;
    height: auto;
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    margin: 2%;
    min-height:380px;
    
    table{
        width: 100%;
        height: auto;
        border-collapse: collapse;
        // margin-top: px;
        tr{
            width: 100%;
            height: auto;
            padding: 5px;
            border: 1px solid #BDBDBD;
            border-radius: 5px;
            th{
                border: 1px solid #BDBDBD;
                padding-top: 5px;
                padding-bottom: 5px;
                font-weight: 550;
            }
            td{
                text-align: center;
                border: 1px solid #BDBDBD;
                padding-top: 5px;
                padding-bottom: 5px;
                color: #818181;
            }
        }
    }
}
.option-kq{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    .option-kq-btn{
        width: 100px;
        height: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        background-color: #3498DB;
        color: white;
        padding: 5px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .option-kq-btn:nth-child(2){
        background-color:#09A799 ;
    }
}