html, body {width: 100%;height: 100%;}

.container-layout-home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    .container-layout-main-home {
        width: 100%;
        height: auto;
        // min-height: 480px;
        // background-color: white;
        display: flex;
        flex-direction: row;
        .container-h-title-home {
            background-color: white;
            width: 250px;
            height: auto;
            // background-color: white;
            border: 1px solid rgb(214, 209, 209);
            margin-right: 10px;
            p {
                font-weight: 600;
                text-align: center;
                font-size: 14px;
                background-color: #6B7280;
                color: white;
                padding: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: -1px;
            }
            .container-left-menu-list {
                width: 100%;
                height: auto;
                display: block;
                margin-top: 10px;
                background-color: white;
                // background-color: white;
                .menu-list {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    // background-color: white;
                    text-decoration: none;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    // border:1px solid rgb(192, 189, 185);
                    background-color: #ced6d6;
                    border-radius: 5px;
                    text-align: left;
                    margin-left: 5%;
                    margin-left: 5%;
                    font-size: 14px;
                    font-weight: 450;
                    text-transform: uppercase;
                    color: black;
                    // font-weight: 600;
                    padding: 7px;
                    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                    &:hover {
                        color: rgb(26, 54, 148);
                    }
                }
            }
        }
        .container-main-right-home-thi {
            width: 70%;
            height: auto;
            // background-color: white;
            padding: 10px;
            display: flex;
            justify-content: center;
            border: 1px solid #ced6d6;
            border-radius: 5px;
            background-color: white;
        }
        .container-main-right-home {
            width: 58%;
            height: auto;
            // background-color: white;
            padding: 10px;
            display: flex;
            justify-content: center;
            border: 1px solid #ced6d6;
            border-radius: 5px;
            background-color: white;
            // align-items: center;
            .container-main-right-layout {
                width: 350px;
                height: 240px;
                margin-top: 80px;
                background-color: #f5f5f5;
                // background-color: white;
                border-radius: 3px;
                // height: auto;
                // border:  1px solid black;
                // -webkit-box-shadow: -1px 1px 19px -2px rgba(179,166,179,1);
                // -moz-box-shadow: -1px 1px 19px -2px rgba(179,166,179,1);
                // box-shadow: -1px 1px 19px -2px rgba(179,166,179,1);
                // background-color: white;
                // border: 1px solid #ced6d6;
                padding: 10px;
                // padding-bottom: 20px;
                font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                .name-category-home-left{
                    font-size: 20px;
                    padding-bottom: 7px;
                    text-transform: capitalize;
                }
                p {
                    // background-color: white;
                    font-weight: 480;
                    font-size: 16px;
                    // line-height: 1.2;
                    text-align: left;
                    padding-left: 30px;
                    // padding-top: -10px;
                    margin-top: 0;
                    margin-bottom: 0;
                    background-color: #f5f5f5;
                    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                    span{
                        text-transform: uppercase;
                    }
                }
                div {
                    background-color: #f5f5f5;
                    margin-top: 10px;
                    width: 100%;
                    height: auto;
                    // background-color: white;
                    display: flex;
                    justify-content: center;
                    a {
                        width: auto;
                        padding: 7px;
                        background-color: #069499;
                        color: white;
                        font-weight: 500;
                        font-size: 14px;
                        text-decoration: none;
                        text-align: center;
                        padding-left: 10px;
                        padding-right: 10px;
                        cursor: pointer;
                        border-radius: 3px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.CheckCircleIcon {
    font-size: 14px;
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;
    background-color: #f5f5f5;
}

#alert-dialog-description {
    color: #0c0f13;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}
.ipcode {
    height: 30px;
    padding-left: 10px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ced6d6;
}

.container-main-right-home-user {
    width: 20%;
    height: auto;
    border: 1px solid #ced6d6;
    border-radius: 5px;
    margin-left: 10px;
    background-color: white;
    .header-online-user {
        text-align: center;
        background-color: #6B7280;
        padding: 10px;
        margin-top: -0px;
        border-radius: 1px;
        font-weight: 500;
        color: white;
        font-size: 14px;
    }
    .layout-container-main-user-online {
        background-color: white;
        width: 100%;
        // height: auto;
        height: 420px;
        overflow-y: auto;
        margin-top:7px;
        p {
            line-height: 15px;
            background-color: white;
            margin-left: 5%;
            padding-right: 5%;
            text-transform: capitalize;
            padding-bottom: 5px;
            padding-top: 5px;
            font-size: 15px;
            color: #069499;
            width: 90%;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            cursor: pointer;
            word-wrap: break-word;
            span {
                color: #5383d3;
                width: 15px;
                height: 15px;
                background-color: #5383d3;
                border-radius: 50%;
            }
            .FiberManualRecordIcon {
                position: absolute;
                margin-left: -20px;
                margin-top: -7px;
            }
        }
    }
}

$res_890: "only screen and (max-width: 890px)";

@mixin responsive_890() {
    @media #{$res_890} {
        @content;
    }
}
@include responsive_890() {
    .container-layout-home .container-layout-main-home .container-main-right-home .container-main-right-layout {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .container-layout-home {
        .container-layout-main-home {
            width: 100%;
            // min-height: 480px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container-h-title-home{
                width: 70%;
                margin-bottom: 10px;
                margin-right: 0px;
                .container-left-menu-list {
                    width: 100%;
                    .menu-list {
                        width: 90%;
                    }
                }
            }
            .container-main-right-home{
                width: 70%;
                // height: 300px;
                padding: 0px;
                margin-bottom: 10px;
            }
            .container-main-right-home-user{
                width: 70%;
                margin-left: 0px;
                margin-bottom: 10px;
                .layout-container-main-user-online{
                    height: auto;
                }

            }
        }
    }
}

$res_650: "only screen and (max-width: 650px)";

@mixin responsive_650() {
    @media #{$res_650} {
        @content;
    }
}
@include responsive_650() {
    .container-layout-home .container-layout-main-home .container-main-right-home .container-main-right-layout {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .container-layout-home {
        .container-layout-main-home {
            width: 100%;
            // min-height: 480px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container-h-title-home{
                width: 90%;
                margin-bottom: 10px;
                margin-right: 0px;
            }
            .container-main-right-home{
                width: 90%;
                // height: 300px;
                padding: 0px;
                margin-bottom: 10px;
                .container-main-right-layout{
                    // margin-top: 10px;
                    // margin-bottom: 10px;
                    p{
                        text-align:left;
                        // line-height: ;
                        padding-left: 20px;
                    }
                }
            }
            .container-main-right-home-user{
                width: 90%;
                margin-left: 0px;
                margin-bottom: 10px;

            }
        }
    }
}

$res_500: "only screen and (max-width: 500px)";

@mixin responsive_500() {
    @media #{$res_500} {
        @content;
    }
}
@include responsive_500() {
    
    .container-layout-home .container-layout-main-home .container-main-right-home .container-main-right-layout {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .container-layout-home {
        .container-layout-main-home {
            width: 100%;
            // min-height: 480px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container-h-title-home{
                width: 100%;
                margin-bottom: 10px;
                margin-right: 0px;
                
            }
            .container-main-right-home{
                width: 100%;
                // height: 300px;
                padding: 0px;
                margin-bottom: 10px;
                 .container-h-title-home{
                width: 90%;
                margin-bottom: 10px;
                margin-right: 0px;
            }
            }
            .container-main-right-home-user{
                width: 100%;
                margin-left: 0px;
                margin-bottom: 10px;

            }
        }
    }

}
// @media (min-width: 768px){
//     .container {
//         max-width: 900px;
//     }
// }